<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventin_pengaju">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE " />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eventin_pengaju"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        >
        <activity android:name=".WawancaraMendatang"></activity>
        <activity android:name=".resetPw" />
        <activity android:name=".personalRegistrasi" />
        <activity android:name=".registrasiActivity" />
        <activity android:name=".loginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".emailEditVerifikasi" />
        <activity android:name=".pengaturanEmail" />
        <activity android:name=".pengaturanKataSandi" />
        <activity android:name=".profilPengaturan" />
        <activity android:name=".profilHome" />
        <activity android:name=".history" />
        <activity android:name=".evidenUpload" />
        <activity android:name=".evidenDetail" />
        <activity android:name=".eviden" />
        <activity android:name=".pengajuanDetail" />
        <activity android:name=".pengajuan" />
        <activity android:name=".profilPerusahaan">
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>